@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.image-delay {
    --animate-delay: 1s
}

.para-text {
    --animate-delay: 0.85s
}

.button-animate {
    --animate-delay: 1.5s
}
.image-animate {
    --animate-delay: 1.85s
}
.blue-text{
    --animate-delay: 10s
}

.product {
    --animate-duration: 2.5s
}